* text=auto eol=lf

*.sh text eol=lf
*.bash text eol=lf
Makefile text eol=lf
*.mk text eol=lf
*.tf text eol=lf
*.tfvars text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf

*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.pdf binary
*.zip binary
