# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# SECRETS
Secrets
.env
*.env

# IDE
IDE
.vscode/
.idea/

# OS
.DS_Store

# ---- Terraform -------------------------------------------------------------
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
.terraformrc
terraform.rc

!.terraform.lock.hcl
